.casauth-login-btn {
    display: inline-block;
    font-size: 100%;
    text-align: center;
    background: #A41034;
    color: #fff;
    padding: 30px 20px;
    width: calc(100% - 40px);
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 120%;
}
.casauth-login-btn:hover {
    background-color: #c4133e;
    text-decoration: none;
}